
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h3 th:text="${#strings.capitalizeWords(jobsSize)}"></h3>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:each ="job : ${jobs}">
        <table class="job-listing">
            <tr th:each="jobItem, idx : ${job}" th:class="${idx.odd} ? 'odd'">
                <b><td th:text="${#strings.capitalizeWords(jobItem.key)}"></td></b>
                <td th:text="${jobItem.value}"></td>
            </tr>
        </table>
        <p></p>

    </div>

</div>

</body>
</html>